


.job-card{
    border-radius: 5px;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.2);
    padding: 30px;
    display: block;
    margin: auto;
    width: 90%;

    .job-title{
        font-weight: 600;
        margin-bottom: 15px;
    }

    .job-location{
        color: #48b985;
    }
}