@import "./values";
@import "./careers";
@import "./study-abroad";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: 'poppins', sans-serif;
}

.section-header{
    color: #3c5f85;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.btn-success{
    background-color: #48b985;
    border-radius: 3px;
    font-weight: 400;
    border: none;

    padding: 0.4rem 2rem;
}

.layer{
    padding: 60px 0;
}

.-lightgray{
    background: #e9e9e9;
}

@media screen and (min-width: 992px){
    .layer {
        padding: 75px 0;
    }
}




.header-one{
    position: relative;
    z-index: 3;
    padding: 15px 0;
    font-size: 14px;
    display: none;

    .brand{
        margin-right: 3.5rem;
        font-weight: 700;
    }
}

header{
    position: relative;
    .navbar{
        height: 72px;
        position: relative;
        z-index: 4;
        padding: 0 10px;

        .navbar-brand{
            color: white;
            font-family: 'raleway', sans-serif;
            letter-spacing: 2px;
            font-weight: 600;
            font-size: 36px;
        }

        .navbar-toggler{
            position: relative;
            z-index: 10;
        }

        .container{
            height: 100%;
        }

        .navbar-collapse{
            justify-content: space-between;
            height: 100%;

            .nav-part1{
                display: flex;
                flex-basis: 65%;
                justify-content: space-evenly;

                .dropdown.nav-item:hover .dropdown-menu{
                    display: block;
                }
            }
            
            .nav-part2{
                display: flex;
                flex-basis: 34.3%;
                justify-content: space-evenly;
                background-color: #dceaf6;
                align-items: center;
                height: 100%;
                position: relative;
                
                .nav-link{
                    color: #333;
                }


                &::before{
                    border-color: transparent #dceaf6 transparent transparent;
                    border-style: solid;
                    border-width: 72px 12px 0 0;
                    bottom: 0;
                    content: "";
                    height: 0;
                    left: -12px;
                    position: absolute;
                    width: 0;

                    
                }

                &::after{
                    background-color: #dceaf6;
                    content: "";
                    height: 100%;
                    left: 100%;
                    position: absolute;
                    top: 0;
                    width: 25.95%;
                    z-index: -1;
                } 
            }

            .nav-link{
                color: #f5f5f5;
            }
            
            @media (max-width: 992px){
                .nav-part2{
                    height: auto;
                    background: transparent;

                    &::before, &::after{
                        display: none;
                    }
                }       
            }
        }
    }
}

@media (max-width: 992px){


    .navbar-collapse{
        position: fixed;
        background: #000000cc;
        top: 0;
        left: 0;
        z-index: 4;
        height: 100vh !important;
        width: 100%;

        .nav-part1{
            margin-top: 100px;
            align-items: center;
        }

        .nav-link{
            margin-bottom: 20px;
            color: #f5f5f5 !important;
        }
    }
}

#values-landing{
    color: white;

    .text-content{

    }
}



#landing-page, #values-landing{

    #hero-section{
        margin-top: -72px;
        background: linear-gradient(rgb(26, 39, 50) 0px, rgb(20, 123, 209) 75%);
        position: relative;

        .container{
            height: 100%;
        }
        .hero-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            position: relative;
        }

        .hero-content{
            flex-basis: 70%;
            max-width: 70%;
            position: relative;
            display: flex;
            align-items: center;
            padding: 170px 100px 120px 0;
            position: relative;
            text-align: left;

            .text-content{
                display: block;
                margin: auto;
                position: relative;
                z-index: 3;             
            }

            .quote{
                width: 80%;
                font-family: 'roboto', sans-serif;
                font-weight: 300;
                font-size: 42px;
                line-height: 1.3;
                margin-bottom: 40px;
                color: #ffffffcc;
            }

            .sub-header{
                width: 80%;
                color: #ffffffc0;
                margin-bottom: 30px;
            }

            .btn-success{
                background-color: #48b985;
                border: none;
                border-radius: 3px;
                font-weight: 600;
                padding: 0.7rem 2rem;
            }
        }

        .hero-content::after{
            background: linear-gradient(rgb(26, 39, 50) 0px, rgb(20, 123, 209) 75%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            text-align: left;
            top: 0;
            width: 98%;
            z-index: 2;
        }

        .hero-images{
            background-position: 0;
            flex-basis: 30%;
            height: 100%;
            min-height: 0;
            position: absolute;
            right: -90px;
            width: 50%;
            z-index: 1;

            background: url("./img/hero.jpg") center no-repeat;
            background-size: cover;

            nav.nav{
                padding: 20px 0 20px 25px;
                position: absolute;
                z-index: 2;
                justify-content: center;

                width: 100%;
                background-color: #dceaf6;
                .nav-link{
                    color: #3a4045;
                    text-decoration: none;
                }
                .btn-success{
                    background-color: #48b985;
                    border: none;
                    border-radius: 3px;
                    margin-left: 30px;
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}

@media (max-width: 992px){

    .header-one{
        span{
            display: block !important;
        }
    }

    #hero-section{
        height: 100% !important;
    
        .container{
            max-width: 100% !important;
            margin: 0;
            padding: 0;
        }
    }

    .hero-wrapper{
        flex-direction: column !important;

        .hero-content{
            flex-basis: 100% !important;
            max-width: 100% !important;
            min-height: 620px;
            padding: 0 !important;

            .text-content{
                padding: 100px 0 50px 0 !important;
                text-align: center;
            }

            .quote{
                font-size: 36px;
                margin: 0 auto 40px !important;
            }

            .sub-header{
                margin: 0 auto 30px !important;
            }
            
        }
        .hero-content:after{
            content: none !important;
        }
        
        .hero-images{
            width: 100% !important;
            height: 300px !important;
            position: static !important;
            flex-basis: auto !important;
            background-position: bottom !important;

            nav.nav{
                display: none;
            }
        }
    }
}

#one{
    background: linear-gradient(180deg,#fff,#edf4fa);
    padding: 50px 0;
    .row{
        .col-lg-6{
            display: flex;
            img{
                width: 500px;
                display: block;
                margin: auto;
                border-radius: 5px;
                box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
            }
        }

        .text-content{
            margin: auto;
            width: 80%;
            h3{
                color: #3a4047ed;
                font-weight: 700;
                font-size: 28px;
                line-height: 1.3;
            }
            .sub-text{
                margin: 40px 0;
                font-weight: 600;
                color: rgb(128, 128, 128);
                
            }
            a{
                color: #48b985;
                text-decoration: none;
                padding: 0.5rem 0 0.25rem;
                box-shadow: inset 0 -4px 0 -2px rgba(70,197,124,.2);
                font-weight: 700;

            }
        }
    }
}

@media (max-width: 992px){
    #one{
        .text-content{
            width: 95%;

            .sub-text{
                margin: 25px 0 !important;
            }
        }
        .col-lg-6{
            img{
                margin: 40px 0 !important;
            }
        }
    }
}

#two{
    background: linear-gradient(180deg,#fff,#edf4fa);
    padding: 50px 0;
    text-align: center;

    .vector-cards{
        padding: 50px 0;
        .col-12, .col-md-6{
            margin-bottom: 30px;
        }
        .vector{
            text-align: center;
            margin-bottom: 20px;
            img{
                max-width: 120px;
                max-height: 120px;
            }
        }
        .icon-head{
            text-align: center;
            h4{
                text-align: center;
                font-size: 1rem;
                font-weight: 700;
                color: #3c5f85;
                width: 70%;
                display: block;
                margin: auto;
            }
            
        }
    }
    h1{
        text-align: center;
        color: #3a4045;
        font-size: 2rem;
        margin: 0 0 60px 0;
    }
    .btn-success{
        text-align: center;
        background-color: #48b985;
        border-radius: 3px;
        font-weight: 700;
        border: none;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}





#three{
    padding: 50px 0;

    .section-header{
        color: #3c5f85;
        letter-spacing: 0.5px;
        margin-bottom: 50px;
    }

    @media screen and (min-width: 992px){
        .feature{
            margin-bottom: 90px !important;
            padding: 70px 90px 90px !important;

            &::after{
                background-color: #147bd1;
                content: "";
                height: 3px;
                left: 0;
                opacity: .3;
                position: absolute;
                top: 170px;
                width: 100%;
                z-index: 1;
            }
        }

        .feature-wrapper{
            flex-direction: row !important;
            justify-content: space-between !important;
        }
        .feature.-reverse .feature-content {
            order: 2 !important;
        }
        .feature-content{
            flex-basis: 50% !important;

            .feature-header {
                align-items: center !important;
                flex-direction: row !important;
                height: 90px !important;
                justify-content: flex-start !important;
                margin-bottom: 45px !important;
                margin-left: -60px !important;

                .feature-headline{
                    font-size: 3.35rem !important;
                }
            }

            .feature-description {
                text-align: left !important;
            }

            .stat{
                text-align: left !important;

                .stat-number{
                    font-size: 5rem !important;
                }

                .stat-description{
                    font-size: 1.5rem !important;
                }
            }

            .feature-action {
                margin-bottom: 0 !important;
                text-align: left !important;
            }
        }


        .feature.-reverse .feature-assets {
            align-items: flex-start !important;
            order: 1 !important;
        }

        .feature-assets{
            flex-basis: 50% !important;
            align-items: flex-end !important;
            .feature-logo {
                text-align: right !important;
                .feature-link {
                    margin-right: 6% !important;
                }
            }

            .feature-image{
                display: block !important;
            }

        }
        .feature.-reverse .feature-logo {
            text-align: left !important;
        }
        .feature.-reverse .feature-image {
            left: -120px !important;
            right: auto !important;
        }
    }

    .feature{
        position: relative;
        padding: 30px;
        margin-bottom: 60px;

        &::before{
            background: linear-gradient(180deg,#223342 0,#0f476b);
            height: 100%;
            mix-blend-mode: multiply;
            content: "";
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }


    .feature-bg{
        
        background-size: cover;
        filter: blur(1px);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

    }

    .education .feature-bg{
        background: url("./img/education-bg.jpg") center no-repeat;
    }

    .healthcare .feature-bg{
        background: url("https://www.flywire.com/cdnimages/images/bg/_featureBlockBackground/healthcare-bg.jpg") center no-repeat;
    }

    .travel .feature-bg{
        background: url("https://www.flywire.com/cdnimages/images/bg/_featureBlockBackground/travel-bg.jpg");
    }

    .coaching{

        .feature-bg{
            background: url("/styles/css/img/coaching.jpg");
            background-size: cover;
            background-position: center;
        }

        .feature-icon{
            
        }
    } 

    .feature-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    .feature-content{
        .feature-header {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 45px;

            .feature-icon {
                max-height: 90px !important;
                margin: 0 20px 20px 0;
                max-width: 90px;
                vertical-align: middle;
                height: auto;
            }

            .feature-headline {
                display: inline-block;
                font-size: 2.5rem;
                margin-bottom: 0;
                color: #fff;
            }
        }

        .feature-description {
            margin-bottom: 39.9px;
            text-align: center;
            color: #fff;
        }

        .feature-stat{
            margin-bottom: 45px;
        }
        
        
        .stat{
            margin-bottom: 60px;
            text-align: center;

            .stat-number{
                text-indent: -2px;
                color: #fff;
                display: block;
                font-size: 3.75rem;
                line-height: 1;
            }
            .stat-description{
                color: #fff;
                display: block;

                font-size: 1.25rem;
                font-weight: 700;
                line-height: 1.3;
            }
        }


        .feature-action {
            margin-bottom: 45px;
            text-align: center;

            .btn-success{
                background-color: #48b985;
                border-radius: 3px;
                font-weight: 700;
                border: none;
            }
        }
    }

    .feature-assets{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .feature-logo{
            background-color: transparent;
            border: 0;
            box-shadow: none;
            color: #48b985;
            cursor: pointer;
            display: inline;
            font-weight: 700;
            padding: .5rem 0 .25rem;
            position: relative;
            text-decoration: none;
            transition: color .2s cubic-bezier(.215,.61,.355,1);

            .logo{
                background-color: #fff;
                -webkit-clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
                clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
                display: inline-block;
                height: 140px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px;
                text-align: center;
                width: 300px;
            }

            @media screen and (min-width: 576px){
                .logo {
                    padding: 30px 45px;
                }
            }

            .logo-image {
                max-height: 100px;
                max-width: 220px;
            }

            .link{
                background-color: transparent;
                border: 0;
                box-shadow: inset 0 -4px 0 -2px rgba(70,197,124,.2);
                color: #48b985;
                cursor: pointer;
                display: inline;
                font-weight: 700;
                padding: .5rem 0 .25rem;
                position: relative;
                text-decoration: none;
                transition: color .2s cubic-bezier(.215,.61,.355,1);
            }

        }

        .feature-image{
            border-radius: 3px;
            bottom: -45px;
            display: none;
            position: relative;
            right: -120px;
        }
    }

    .layer{
        padding: 0px 0px 50px;
        text-align: center;
        h3{
            width: 55%;
            display: block;
            margin: 0 auto 40px;
            font-weight: 400;
            line-height: 1.5;
            color: #3a4045;
        }
        
    }
}



#destinations{

    .section-header{
        color: #3c5f85;
        letter-spacing: 0.5px;
        margin-bottom: 70px;
    }

    .uk{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/uk.jpg");
    }

    .canada{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/canada.jpg");
    }

    .ireland{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/ireland.jpg");
    }

    .australia{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/australia.jpg");
    }

    .usa{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/usa.jpg");
    }

    .nz{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/nz.jpg");
    }

    .japan{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/japan.jpg");
    }

    .germany{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/germany.jpg");
    }

    .singapore{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/singapore.jpg");
    }

    .france{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)), url("/styles/css/img/france.jpg");
    }

    .country-tile{
        width: 90%;
        height: 220px;
        display: block;
        margin: auto;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: relative;
        margin-bottom: 50px;

        .country-name{
            position: absolute;
            bottom: 15px;
            left: 25px;
            font-size: 18px;
            font-weight: 600;
            color: white;
        }
    }

    
}




.layer.insights{
    background: #e9e9e9;
    .container{
        
        .headline{
            font-weight: 400;
            font-size: 2.5rem;
            color: #3c5f85;
        }

        .main-card{
            width: 90%;
            margin: 40px auto;
            background: white;
            box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.2);
            
            @media screen and (max-width: 567px) {
                width: 100%;
            }

            .row{
                .text-content{
                    padding: 50px 70px;
                    text-align: left;

                    h3{
                        font-weight: 700;
                        color: #3a4045;
                    }
                }

                .picture img{
                    width: 100%;
                }
            }
        }

        .smaller-cards{
            .row{
                .col-md-6{
                    .sc1, .sc2{
                        box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.2);
                        padding: 40px;
                        background: white;
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr 2fr;
                        grid-template-areas: "profile p-text p-text"
                        "profile link link";
                        align-items: center;

                        .profile{
                            grid-area: profile;
                        }
                        .p-text{
                            grid-area: p-text;
                            text-align: left;
                            font-weight: 700;
                            color: #3a4045;
                        }
                        .link{
                            grid-area: link;
                            text-align: left;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}






.callout{
    margin: 0 auto;
    max-width: 750px;
    text-align: center;

    .callout-heading{
        color: #1a2732;
        font-weight: 400;
        margin-bottom: 40px;
    }
}




.layer.-overlay{
    color: #fff;
    position: relative;
}

.statisticsBlock{
    &::before{
        background-color: #0f476b;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .statisticsBlock-container{
        position: relative;
        z-index: 4;

        .headline{
            color: #dceaf6;
            margin: 0 auto 45px;
            max-width: 760px;
            text-align: center;
            font-size: 2.5rem;
            font-weight: 400;
        }

        .row{
            margin-bottom: 60px;
            .col-lg-4, .col-md-4, .col-12{
                text-align: center;
                margin-bottom: 30px;

                .stat-number{
                    font-size: 4rem;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .stat-description{
                    color: #aad8ff;
                    font-size: 1.5rem;
                    text-align: center;
                }
                @media screen and (max-width: 576px) {
                    .stat-number{
                        font-size: 3rem;
                        margin-bottom: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            .row:first-of-type{
                margin: 0;
            }            
        }
    }
}

.statisticsBlock.-callout{
    padding: 60px 0;
    position: relative;

    &::before{
        background-color: #1a2732;
    }

    
}


.statisticsBlock.-overlay{
    .layer-bg{
        background: url("https://www.flywire.com/cdnimages/images/bg/_container/statistics-bg.jpg");
        mix-blend-mode: soft-light;
        opacity: .4;

        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: multiply;
        opacity: .4;
        z-index: 2;
    }
}


@media screen and (min-width: 992px){
   .statisticsBlock.-callout{
        &::after{
            background: transparent url("https://www.flywire.com/media/img/stats-graph.png") no-repeat 50%/contain;
            content: "";
            display: block;
            height: 80%;
            left: calc(50% - 570px);
            mix-blend-mode: normal;
            position: absolute;
            top: 15%;
            width: 1140px;
            z-index: 3;
        }
   }

   .statisticsBlock-grid{
       margin-bottom: 0;
   }
}





.team-member{
    background-color: #147bd1;
    color: #dceaf6;
    overflow: hidden;

    .container{
        position: relative;

        .row{
            .col-12, .col-md-6{
                padding-top: 170px;
                position: relative;

                .greeting{
                    position: absolute;
                    top: 10px;
                    left: 100px;
                }

                @media screen and (max-width: 567px) {
                    .greeting{
                        top: 5px;
                        left: 5px;
                    }
                }

                .team-member-photo{
                    max-width: 450px;
                    margin: auto;
                }



                .team-member-bio{
                    width: 80%;
                    display: block;
                    margin: auto;

                    .team-member-question{
                        color: #1a2732;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1;
                        margin-bottom: 12px;
                    }
    
                    .team-member-answer{
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1.2;
                        margin-bottom: 39.9px;
                    }
                }
            }
        }

        .greeting{
            color: #fff;
            font-size: 1.8rem;
            line-height: 1;
            position: relative;
            z-index: 3;
            font-weight: 400;

            .member-name {
                display: block;
                font-size: 2.8rem;
                font-weight: 400;
                color: #fff;
            }
        }
    }
}





.embedded-form{

    background: linear-gradient(180deg, #fff, #edf4fa);
    .headline{
        color: #147bd1;
        font-weight: 400;
        margin-bottom: 45px;
    }

    .sub-heading{
        p{
            font-size: 1.5rem;
            font-weight: 700;

            margin-bottom: 30px;
        }
        ul{
            @include flex-center();
            padding-left: 0;
            margin-bottom: 30px;
            list-style: none;

            li{
                padding: 0 1rem;
                text-align: center;

                &::before{
                    color: #147bd1;
                    content: "\B7";
                    font-family: Maitree,serif;
                    font-size: 3rem;
                    left: -.5rem;
                    line-height: 0;
                    position: relative;
                    top: 11px;
                }
            }
        }
    }

    form{
        display: block;
        margin: auto;
        text-align: left;
        max-width: 400px;

        .form-group{
            position: relative;

            label{
                color: #15385c;
                float: none;
                font-family: Chivo,sans-serif;
                font-size: 1rem;
                font-weight: 500;
                left: 1.5rem;
                line-height: 1.5;
                margin-bottom: .5em;
                order: 2;
                padding-top: 0;
                position: absolute;
                top: 1rem;
    
            }

            input, textarea{
                background: #f4f9fc;
                border: 2px solid #81aed4;
                border-radius: 3px;
                box-shadow: inset 0 10px 0 -5px #dceaf6;
                color: #1a2732;
                font-size: 1em;
                height: auto;
                line-height: 1.5;
                margin: 0;
                padding: 2.25rem 1.5rem 1rem;
                width: 100%!important;
            }
        }

        

        textarea{
            width: 100%;
            margin-top: 15px;
        }

        .btn-success{
            display: block;
            margin: 25px auto 0px;
        }
    }
}








footer{
    background: #1a2732;
    color: white;

    .col-md-6{
        padding: 0 80px;

        .btn-primary{
            background: #147bd1;
            padding: 0.4rem 2rem;
            margin-right: 20px;
        }

        .row{
            margin-top: 20px;
            .col-6{
                ul{
                    list-style: none;
                    padding: 0;

                    li{
                        margin-bottom: 10px;
                        
                        font-weight: 700;
                        a{
                            color: #147bd1;
                            text-decoration: none;
                            &:hover{
                                color: #48b985;
                            }
                        }
                    }
                }
            }
        }

        .socials{
            margin-bottom: 25px;
            a{
                font-size: 1.5rem;
                color: #147bd1;
                &:not(:first-of-type){
                    margin-left: 15px;
                }
            }
        }

        .legal{
            margin-top: 30px;
            a{
                
                text-decoration: none;
                color: #1468ad;
                font-weight: 600;
            }
        }
    }
    .header{
        @include flex-center();
        flex-direction: row;
        justify-content: space-between;
        .brand{
            color: white;
        }
    }
    
}